.Landing-wrapper {
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.buttons-wrapper {
    height: 240px;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .buttons-wrapper {
        height: 200px;
    }
}

.header > svg {
    margin: 0 auto;
    height: 48px;
    width: 48px;
}

.icons-wrapper {
    margin: 10px;
    justify-content: space-around;
}

.icon-text {
    width: 100px;
    height: 60px;
    padding: 20px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.motto > svg {
    height: 60px;
    width: 60px;
    display: block;
    margin: auto;
}


#sign-in-with-google {
    margin: auto;
}

.or {
    margin: auto;
    width: 576px;
    justify-content: space-around;
}

.or > hr {
    width: 240px;
}

@media screen and (max-width: 768px) {

    .or{
        width: 340px;
    }

    .or > hr {
        width: 120px;
    }
}