.recipes-w {
  max-height: 64vh;
  overflow: auto;
  color: #15181AFF;
}

.recipe-header-w {
  font-weight: bold;
}
.recipes-top > h2 {
  color: #15181AFF;
}
.change {
  width: 148px;
}
.recipe {
  height: 110px;
  padding-bottom: 10px;
}
.recipe:not(:last-child) {
  border-bottom: 2px solid rgba(21, 24, 26, 0.41);
  border-radius: 1px;
}

.delete-recipe > svg:hover,
.delete-recipe > svg:active {
  background-color: rgba(245, 116, 116, 0.28);
}

.delete-recipe > svg {
  padding: 6px;
  background-color:#F574747C;
  border-radius: 20px;
}

.edit-recipe {
  padding: 6px 10px;
  background-color: #32CD32A3;
  color: white;
  border-radius: 14px;
}

.edit-recipe:hover,
.edit-recipe:active {
  background-color: rgba(50, 205, 50, 0.42);
}

.recipe-name {
  text-transform: capitalize;
  margin: 0;
  display: inline;
}

.value-header {
  font-weight: bold;
}

.recipe-values {
  height: 55px;
}

.recipe-values > div > span {
  color: rgba(21, 24, 26, 0.73);
}

.recipe-page-btn-w {
  padding-top: 15px;
}
