.button {
  /*margin: 36px 0 16px 0;*/
  width: 576px;
  height: 60px;
  margin: auto;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.default {
  background-color: black;
  color: white;
}

.default:hover,
.secondary:active {
  background-color: #616b80;
}

.secondary {
  background-color: white;
  color: black;
}

.secondary:hover,
.secondary:active {
  background-color: #ffffffab;
}

@media screen and (max-width: 768px) {

  .button {
    /*margin: 18px 0 12px 0;*/
    width: 90vw;
  }
}