.page-w {
    height: 90vh;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .page-w {
      height: 90vh;
      padding-top: 20px;
    }

    .ios-w {
        min-height: -webkit-fill-available;
    }
}