.save-recipe {
  margin: 36px 0 16px 0;
  width: 576px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
}

.save-recipe:hover,
.save-recipe:active {
  background-color: #ffffffab;
}

@media screen and (max-width: 768px) {

  .save-recipe {
    margin: 18px 0 12px 0;
    width: 90vw;
  }
}