.top {
  position:relative;
  z-index: 2;
  margin-top: 4vh;
}

.search-wrapper {
  margin: auto;
  width: 280px;
  height: 22vh;
}

.search-box {
  padding-right: 2px;
  height: 42px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #d4d7dc;
  border-radius: 4px;
}

input {
  border: none;
  height: 100%;
  width: 200px;
  margin-left: 12px;
  padding: 0;
}

input:hover,
input:focus,
input:focus-visible,
input:active {
  outline: none;
}

svg {
  float: right;
  margin: 14px 4px;
}

ul {
  width: inherit;
  max-height: 256px;
  overflow-y: auto;
  list-style: none;
  background-color: #ffffff;
  padding: 8px 0;
  text-align: left;
  cursor: pointer;
  border: 1px solid #d4d7dc;
  border-radius: 4px;
}

.category {
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: #006400F9;
}

.product-option {
  padding: 8px 12px;
  display: block;
  height: 16px;
  text-transform: capitalize;
  font-size: 14px;
}

li:hover, li:active {
  background-color: #e5e5e5;
}