.top {
  position:relative;
  z-index: 2;
  margin-top: 4vh;
}

.search-wrapper {
  margin: auto;
  width: 280px;
  height: 22vh;
}

.search-box {
  padding-right: 2px;
  height: 42px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #d4d7dc;
  border-radius: 4px;
}

input {
  border: none;
  height: 100%;
  width: 200px;
  margin-left: 12px;
  padding: 0;
}

input:hover,
input:focus,
input:focus-visible,
input:active {
  outline: none;
}

svg {
  float: right;
  margin: 14px 4px;
}

ul {
  width: inherit;
  max-height: 256px;
  overflow-y: auto;
  list-style: none;
  background-color: #ffffff;
  padding: 8px 0;
  text-align: left;
  cursor: pointer;
  border: 1px solid #d4d7dc;
  border-radius: 4px;
}

li {
  padding: 8px;
  display: block;
  height: 16px;
}

li:nth-child(1) {
  padding: 0;
  margin-right: 4px;
}

li:nth-child(n+2):hover {
  background-color: #e5e5e5;
}

.close-list {
  float: right;
  text-align: right;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
