tr {
  text-transform: capitalize;
  height: 32px;
}

#units > select {
  all: unset;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-transform: lowercase;
  cursor: pointer;
  border-bottom: 1px solid #616b80;
  padding-bottom: 2px;
}

.edit {
  background-color: #0066FF0A;
}

.quantity > input {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.cooked {
  padding: 0 4px;
}

.clear{
  cursor: pointer;
}