.bottom {
  /*position:relative;*/
  z-index: 1;
  height: 100%;
  background-color: #f7f9fa;
  padding-top: 24px;
}

.selected-product {
  margin: 8px;
}

table {
  margin: 0 auto 48px;
  width: 576px;
  text-align: left;
  text-transform: capitalize;
}

th {
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #282c34;
  width: 144px;
}

td {
  width: 144px;
}

td > svg {
  margin: 0 10px 0 0;
  float: left;
}

tbody {
  margin-top: 6vh;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
    width: 90vw;
  }

  th {
    font-size: 16px;
  }
  th, td {
    width: 25vw;
  }

  td:nth-child(n+2), th:nth-child(n+2) {
    width: 21vw;
  }
}

td:nth-child(n+2), th:nth-child(n+2) {
  text-align: center;
}