.bottom {
  position:relative;
  z-index: 1;
  margin-top: -4vh;
}

.selected-product {
  margin: 8px;
}

table {
  margin: 0 auto 24px;
  width: 576px;
  text-align: left;
  text-transform: capitalize;
}

th {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8c9097;
  width: 144px;
}

td {
  width: 144px;
}

tbody {
  margin-top: 6vh;
}

.totals {
  width: 576px;
  height: 36px;
  margin: auto;
  text-align: left;
}

.total-key {
  text-align: left;
  font-weight: bold;
  width: 50%;
}

.total-value {
  text-align: left;
  width: 50%;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.totals-value {
/*  transition: all 2s ease;
  transform: translateY(0);*/
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
  width: 100px;
  /*animation-name: opacityChange;*/
  /*animation-duration: 5s;*/
}

@media screen and (max-width: 768px) {
  table, .totals {
    font-size: 12px;
    width: 96vw;
  }

  .totals {
    height: 24px;
  }

  th, td {
    width: 24vw;
  }
}

td:nth-child(n+2), th:nth-child(n+2) {
  text-align: center;
}