.totals-w {
  padding-bottom: 10px;
}

.totals-wrapper {
  width: 576px;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: center;
}

.totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.protein {
  border-color: #4fd74f;
}

.carbs {
  border-color: #64d8ed;
}

.calories {
  border-color: deeppink;
}

.total-key {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 8px;
  border-bottom: 4px solid;
  border-spacing: 20px;
}

.divid {
  height: 20px;
  padding: 12px 0;
  letter-spacing: 2px;
  height: 24px;
}

.divid > select {
  all: unset;
  text-align: center;
  margin-left: 6px;
  border-bottom: 1px solid #616b80;
}

@media screen and (max-width: 768px) {
  .totals-wrapper {
    width: 96vw;
  }

  .totals {
    width: 90px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .protein {
    border-color: #4fd74f;
  }

  .carbs {
    border-color: #64d8ed;
  }

  .calories {
    border-color: deeppink;
  }
}
