.app {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #F8FAF7F9;
  font-family: Arial;
  overflow: hidden
}

.select-ios {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: -moz-center !important;
  text-align: -webkit-center !important;
}